doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') Home
      br
      a(href='/item/create') Create Item
      br
      a(href='/category/create') Create Category
      br
    #content
      block content
